{% extends 'analisis/layout.html' %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Node js</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_nodejs.jpg' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          Node.js® es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://nodejs.org/es/">https://nodejs.org/es/</a>
      </div>
		</section>
	</div>
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Mongo DB</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_mongodb.png' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          MongoDB es una base de datos de documentos que ofrece una gran escalabilidad y flexibilidad, y un modelo de consultas e indexación avanzado.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://www.mongodb.com/es">https://www.mongodb.com/es</a>
      </div>
		</section>
	</div>
</div>

<div class="row">
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Java</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_java.png' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          Java es una tecnología que se usa para el desarrollo de aplicaciones que convierten a la Web en un elemento más interesante y útil. Java no es lo mismo que javascript, que se trata de una tecnología sencilla que se usa para crear páginas web y solamente se ejecuta en el explorador.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://www.java.com/es/">https://www.java.com/es/</a>
      </div>
		</section>
	</div>
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Python</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_python.png' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          Python es un lenguaje de programación en el que podras trabajar rapidamente e integrar sistemas de manera efectiva.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://www.python.org/">https://www.python.org/</a>
      </div>
		</section>
	</div>
</div>

<div class="row">
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Bootstrap</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_bootstrap.jpg' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          Construye proyectos responsive y mobile-first en la web usando la libreria front-end mas popular del mundo.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
      </div>
		</section>
	</div>
  <div class="col-md-6">
		<section class="panel panel-primary">
			<header class="panel-heading">
				<h2 class="panel-title">Javascript</h2>
			</header>
			<div class="panel-body">
        <div class="col-md-4">
          <img src="{% static 'acerca/images/logo_javascript.png' %}" width="100%" alt="">
        </div>
        <div class="col-md-8">
          JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.
        </div>
			</div>
      <div class="panel-footer">
        <a href="https://getbootstrap.com/">https://getbootstrap.com/</a>
      </div>
		</section>
	</div>
</div>

{% endblock %}
