{% extends 'analisis/layout.html' %}

{% load static %}

{% block content %}

  <!-- Area selvatica-->
  <div class="row">
	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Área selvatica</h2>
		  <p class="panel-subtitle">Este grafico presenta un historico sobre el área selvatica de {{pais}} en Km² respecto al año.</p>

		</header>
		<div class="panel-body">
		  <img src="{% static 'analisis/images/' %}{{area_selvatica}}" width="100%" />
		</div>
	  </section>
	</div>
	<div class="col-xs-12 col-md-6">
	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Estadistica área selvatica</h2>
  		  <p class="panel-subtitle">Estos datos estadisticos corresponden al área selvatica de {{pais}} en Km².</p>

  		</header>
  		<div class="panel-body">
  		  <section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-primary">
  								<i class="fa fa-thermometer"></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Maximo</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.maximo}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  			<section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-danger">
  								<i class="fa fa-thermometer-0"></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Minimo</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.minimo}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  			<section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-info">
  								<i class="fa fa-thermometer-half"></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Media</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.media}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  			<section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-warning">
  								<i class="fa fa-line-chart"></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Desviación estandar</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.desviacion_estandar}}</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

        <section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-warning">
  								<i class="fa fa-line-chart"></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Varianza</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.varianza}}</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  		  </div>
  	  </section>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Población urbana</h2>
  		  <p class="panel-subtitle">Este grafico presenta un historico sobre la población urbana de {{pais}} en habitantes respecto al año.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/images/' %}{{poblacion_urbana}}" width="100%" />
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadistica población urbana</h2>
		  <p class="panel-subtitle">Estos datos estadisticos corresponden a la población urbana de {{pais}}.</p>

		</header>
		<div class="panel-body">
		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-primary">
											<i class="fa fa-thermometer"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Maximo</h4>
											<div class="info">
												<strong class="amount">{{estadistica_poblacion_urbana.maximo}} habitantes</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-danger">
											<i class="fa fa-thermometer-0"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Minimo</h4>
											<div class="info">
												<strong class="amount">{{estadistica_poblacion_urbana.minimo}} habitantes</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-info">
											<i class="fa fa-thermometer-half"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Media</h4>
											<div class="info">
												<strong class="amount">{{estadistica_poblacion_urbana.media}} habitantes</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-warning">
											<i class="fa fa-line-chart"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Desviación estandar</h4>
											<div class="info">
												<strong class="amount">{{estadistica_poblacion_urbana.desviacion_estandar}}</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
		</div>
	  </section>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Gases efecto invernadero</h2>
  		  <p class="panel-subtitle">Este grafico presenta un historico sobre los gases de efecto invernadero de {{pais}} en CO² comparado con el año.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/images/' %}{{gases_efecto_invernadero}}" width="100%" />
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadistica gases efecto invernadero</h2>
		  <p class="panel-subtitle">Estos datos estadisticos corresponden a los gases efecto invernadero de {{pais}} en CO2.</p>

		</header>
		<div class="panel-body">

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-primary">
											<i class="fa fa-thermometer"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Maximo</h4>
											<div class="info">
												<strong class="amount">{{estadistica_gases_efecto_invernadero.maximo}} CO2</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-danger">
											<i class="fa fa-thermometer-0"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Minimo</h4>
											<div class="info">
												<strong class="amount">{{estadistica_gases_efecto_invernadero.minimo}} CO2</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		  <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-info">
											<i class="fa fa-thermometer-half"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Media</h4>
											<div class="info">
												<strong class="amount">{{estadistica_gases_efecto_invernadero.media}} CO2</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		        <section class="panel panel-featured-left panel-featured-primary">
							<div class="panel-body">
								<div class="widget-summary widget-summary-sm">
									<div class="widget-summary-col widget-summary-col-icon">
										<div class="summary-icon bg-warning">
											<i class="fa fa-line-chart"></i>
										</div>
									</div>
									<div class="widget-summary-col">
										<div class="summary">
											<h4 class="title">Desviación estandar</h4>
											<div class="info">
												<strong class="amount">{{estadistica_gases_efecto_invernadero.desviacion_estandar}}</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

		</div>
	  </section>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Deforestación en los parques naturales</h2>
  		  <p class="panel-subtitle">Este grafico presenta un historico el porcentaje de deforestación de los parques naturales de {{pais}}.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/images/' %}{{deforestacion}}" width="100%" />
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadistica deforestacion</h2>
		  <p class="panel-subtitle">Estos datos estadisticos corresponden a el porcentaje de deforestación de los parques naturales en {{pais}}.</p>

		</header>
		<div class="panel-body">
      
		</div>
	  </section>
	</div>
  </div>

  <div class="row">

  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Comparativo (1990-2000)</h2>
  		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvatica y los gases efecto invernadero de {{pais}} entre los años 1990 a 2000.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/images/' %}{{comparativo_1990_2000}}" width="100%" />
  		</div>
  	  </section>
  	</div>

  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Comparativo (2000-2010)</h2>
  		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvatica y los gases efecto invernadero de {{pais}} entre los años 2000 a 2010.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/images/' %}{{comparativo_2000_2010}}" width="100%" />
  		</div>
  	  </section>
  	</div>

  	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Comparativo (2010-2017)</h2>
		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvatica y los gases efecto invernadero de {{pais}} entre los años 2010 a 2017.</p>

		</header>
		<div class="panel-body">
		  <img src="{% static 'analisis/images/' %}{{comparativo_2010_2017}}" width="100%" />
		</div>
	  </section>
	</div>

  </div>

{% endblock %}
