{% extends 'analisis/layout.html' %}

{% load static %}

{% block content %}

<script type="text/javascript">
  $(function(){

  });
</script>

  <!-- Area selvatica-->
  <div class="row">
	<div class="col-xs-12 col-md-8">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Área selvática</h2>
		  <p class="panel-subtitle">Este grafico presenta un histórico sobre el área selvática de {{pais}} en Km² respecto al año.</p>

		</header>
		<div class="panel-body">
		  <img src="{% static 'analisis/graficas/' %}{{area_selvatica}}" width="100%" />
		</div>
    <div class="panel-footer">
      <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{area_selvatica}}" download="area_selvatica_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
    </div>
	  </section>
	</div>
	<div class="col-xs-12 col-md-4">
	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Estadistica área selvática</h2>
  		  <p class="panel-subtitle">Estos datos estadísticos corresponden al área selvática de {{pais}} en Km².</p>

  		</header>
  		<div class="panel-body">
  		  <section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-primary">
  								<i class=""></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Maximo</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.maximo}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  			<section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-danger">
  								<i class=""></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Minimo</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.minimo}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  			<section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-info">
  								<i class=""></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Media</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.media}} Km²</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

        <section class="panel panel-featured-left panel-featured-primary">
  				<div class="panel-body">
  					<div class="widget-summary widget-summary-sm">
  						<div class="widget-summary-col widget-summary-col-icon">
  							<div class="summary-icon bg-warning">
  								<i class=""></i>
  							</div>
  						</div>
  						<div class="widget-summary-col">
  							<div class="summary">
  								<h4 class="title">Desviación estandar</h4>
  								<div class="info">
  									<strong class="amount">{{estadistica_area_selvatica.desviacion_estandar}}</strong>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</section>

  		  </div>
  	  </section>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-md-8">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Población urbana</h2>
  		  <p class="panel-subtitle">Este grafico presenta un histórico sobre la población urbana de {{pais}} en habitantes respecto al año.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/graficas/' %}{{poblacion_urbana}}" width="100%" />
        <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{poblacion_urbana}}" download="poblacion_urbana_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-4">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadística población urbana</h2>
		  <p class="panel-subtitle">Estos datos estadísticos corresponden a la población urbana de {{pais}}.</p>

		</header>
		<div class="panel-body">
		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-primary">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Maximo</h4>
								<div class="info">
									<strong class="amount">{{estadistica_poblacion_urbana.maximo}} habitantes</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
  			<div class="panel-body">
  				<div class="widget-summary widget-summary-sm">
  					<div class="widget-summary-col widget-summary-col-icon">
  						<div class="summary-icon bg-danger">
  							<i class=""></i>
  						</div>
  					</div>
  					<div class="widget-summary-col">
  						<div class="summary">
  							<h4 class="title">Minimo</h4>
  							<div class="info">
  								<strong class="amount">{{estadistica_poblacion_urbana.minimo}} habitantes</strong>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-info">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Media</h4>
								<div class="info">
									<strong class="amount">{{estadistica_poblacion_urbana.media}} habitantes</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-warning">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Desviación estandar</h4>
								<div class="info">
									<strong class="amount">{{estadistica_poblacion_urbana.desviacion_estandar}}</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	  </section>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-md-8">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Gases efecto invernadero</h2>
  		  <p class="panel-subtitle">Este grafico presenta un histórico sobre los gases de efecto invernadero de {{pais}} en CO² comparado con el año.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/graficas/' %}{{gases_efecto_invernadero}}" width="100%" />
        <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{gases_efecto_invernadero}}" download="gases_efecto_invernadero_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-4">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadística gases efecto invernadero</h2>
		  <p class="panel-subtitle">Estos datos estadísticos corresponden a los gases efecto invernadero de {{pais}} en CO2.</p>

		</header>
		<div class="panel-body">

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-primary">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Maximo</h4>
								<div class="info">
									<strong class="amount">{{estadistica_gases_efecto_invernadero.maximo}} CO2</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-danger">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Minimo</h4>
								<div class="info">
									<strong class="amount">{{estadistica_gases_efecto_invernadero.minimo}} CO2</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-info">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Media</h4>
								<div class="info">
									<strong class="amount">{{estadistica_gases_efecto_invernadero.media}} CO2</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

      <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-warning">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Desviación estandar</h4>
								<div class="info">
									<strong class="amount">{{estadistica_gases_efecto_invernadero.desviacion_estandar}}</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	  </section>
	</div>
  </div>
{% if deforestacion != "" %}
  <div class="row">
  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Deforestación en los límites de los parques naturales</h2>
  		  <p class="panel-subtitle">Este grafico presenta un histórico el porcentaje de deforestación de los límites de los parques naturales de {{pais}} en porcentaje dentro y fuera de los limites respecto al año.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/graficas/' %}{{deforestacion}}" width="100%" />
        <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{deforestacion}}" download="deforestacion_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
  		</div>
  	  </section>
  	</div>
  	<div class="col-xs-12 col-md-3">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadistica deforestacion en los limites y de 10 km dentro de parques nacionales </h2>
		  <p class="panel-subtitle">Estos datos estadisticos corresponden a el porcentaje de deforestación de los parques naturales en {{pais}} entre los limites y 10 kilometrso dentro.</p>

		</header>
		<div class="panel-body">
			<section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-primary">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Maximo</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_dentro_de_10_km.maximo}} %</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
  			<div class="panel-body">
  				<div class="widget-summary widget-summary-sm">
  					<div class="widget-summary-col widget-summary-col-icon">
  						<div class="summary-icon bg-danger">
  							<i class=""></i>
  						</div>
  					</div>
  					<div class="widget-summary-col">
  						<div class="summary">
  							<h4 class="title">Minimo</h4>
  							<div class="info">
  								<strong class="amount">{{estadistica_deforestacion_dentro_de_10_km.minimo}} %</strong>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-info">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Media</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_dentro_de_10_km.media}} %</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-warning">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Desviación estandar</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_dentro_de_10_km.desviacion_estandar}}</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	  </section>
	</div>
	  <div class="col-xs-12 col-md-3">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Estadistica deforestacion en los limites y de 10 km fuera de parques nacionales </h2>
		  <p class="panel-subtitle">Estos datos estadisticos corresponden a el porcentaje de deforestación de los parques naturales en {{pais}} entre los limites y 10 kms fuera.</p>

		</header>
		<div class="panel-body">
			<section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-primary">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Maximo</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_fuera_de_10_km.maximo}} %</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
  			<div class="panel-body">
  				<div class="widget-summary widget-summary-sm">
  					<div class="widget-summary-col widget-summary-col-icon">
  						<div class="summary-icon bg-danger">
  							<i class=""></i>
  						</div>
  					</div>
  					<div class="widget-summary-col">
  						<div class="summary">
  							<h4 class="title">Minimo</h4>
  							<div class="info">
  								<strong class="amount">{{estadistica_deforestacion_fuera_de_10_km.minimo}} %</strong>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-info">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Media</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_fuera_de_10_km.media}} %</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		  <section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary widget-summary-sm">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-warning">
								<i class=""></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">Desviación estandar</h4>
								<div class="info">
									<strong class="amount">{{estadistica_deforestacion_fuera_de_10_km.desviacion_estandar}}</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	  </section>
	</div>
  </div>
{% endif %}
  <div class="row">

  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Comparativo (1990-2000)</h2>
  		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvática y los gases efecto invernadero de {{pais}} entre los años 1990 a 2000.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/graficas/' %}{{comparativo_1990_2000}}" width="100%" />
        <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{comparativo_1990_2000}}" download="comparativo_1990_2000_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
  		</div>
  	  </section>
  	</div>

  	<div class="col-xs-12 col-md-6">
  	  <section class="panel">
  		<header class="panel-heading">

  		  <div class="panel-actions">
  			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
  		  </div>
  		  <h2 class="panel-title">Comparativo (2000-2010)</h2>
  		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvática y los gases efecto invernadero de {{pais}} entre los años 2000 a 2010.</p>

  		</header>
  		<div class="panel-body">
  		  <img src="{% static 'analisis/graficas/' %}{{comparativo_2000_2010}}" width="100%" />
        <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{comparativo_2000_2010}}" download="comparativo_2000_2010_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
  		</div>
  	  </section>
  	</div>

  	<div class="col-xs-12 col-md-6">
	  <section class="panel">
		<header class="panel-heading">

		  <div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
		  </div>
		  <h2 class="panel-title">Comparativo (2010-2017)</h2>
		  <p class="panel-subtitle">Este grafico presenta una relación entre la población urbana, el área selvática y los gases efecto invernadero de {{pais}} entre los años 2010 a 2017.</p>

		</header>
		<div class="panel-body">
		  <img src="{% static 'analisis/graficas/' %}{{comparativo_2010_2017}}" width="100%" />
      <a class="btn btn-info" href="{% static 'analisis/graficas/' %}{{comparativo_2010_2017}}" download="comparativo_2010_2017_{{pais}}.png"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar gráfica</a>
		</div>
	  </section>
	</div>

  </div>

{% endblock %}
